#---------------------------------
# Directories
#---------------------------------
**/node_modules/
#target/
tmp/
typings/
dist/


#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.idea
.project
*.iml


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
