<div class="content">
    <div class="title-bar">
        <h5>添加租户用户</h5>
    </div>

    <div class="main">

        <form class="form" autocomplete="off" novalidate
              #myForm="ngForm"
              [class.submitted]="myForm._submitted"
              (ngSubmit)="save(myForm)">


            <div class="item">
                <label class="required">邮箱</label>
                <input type="text" name="email"
                       [(ngModel)]="fm.email"
                       mVEmail
                       required />
            </div>

            <div class="item">
                <label class="required">用户权限</label>
                <select [(ngModel)]="fm.root" name="root" required>
                    <option *ngFor="let root of roots" [value]="root.val">{{root.title}}</option>
                </select>
            </div>

            <div class="actions">
                <button type="submit" class="btn blue">保存</button>
                <button type="text" class="btn white" [routerLink]="['../']">取消</button>
            </div>

        </form>
    </div>
</div>
