$mainTop: 46px;
$leftSidebar: 160px;
$borderColor: rgb(234, 234, 234);
$baseColor: rgb(9, 188, 189);
$basePaddingLeft: 20px;

html {
    font-size: 15px;
}

mn-echarts-panel {
    display: block;
}

#bht-app {
    mn-panel-title {
        font-size: 14px;

        small {
            font-size: 12px;
        }
    }
}

body {
    padding: 0;
    margin: 0;
    background: #fff;
    font: 1rem/1.5 Pingfang SC, Helvetica Neue, Microsoft Yahei, Helvetica, Arial, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
    color: #666;
    min-width: 1240px;

    // todo
    [dateranger] {
        margin-left: 8px;
        padding: 0 8px;
        width: 172px;
        border: 1px solid #d9d9d9;
        height: 28px;
        line-height: 28px;
        border-radius: 3px;

        button {
            background: transparent;
            border: none;
        }
    }
    .daterangepicker {
        display: none;
        border: 1px solid #eee;

        &.show-calendar {
            width: 700px;
        }
    }

    form {
        input.form-control {
            padding: 4px;
            width: 100%;
            height: 32px;
            border: 1px solid #eee;
            border-radius: 4px;
            line-height: 32px;
        }
    }

    app-root {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        min-width: 1240px;
        overflow-x: hidden;
        overflow-y: hidden;

        ol, ul, li {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        dd {
            margin: 0;
        }

        menu {
            margin: 0;
            padding: 0;
        }

        em {
            font-style: normal;
        }

        .mt30px {
            margin-top: 30px;
        }

        .mt15px {
            margin-top: 15px;
        }

        section.box {
            background: #fff;

            + .box {
                margin-top: 16px;
            }

            &.hollow {
                background: transparent;
                mn-col {
                    .mn-col-content {
                        width: 100%;
                        height: 100%;
                        background: #fff;
                    }

                    &.hollow {
                        .mn-col-content {
                            background: transparent;
                        }
                    }
                }
            }
        }

        table {

            border-spacing: 0;

            th {
                padding: 8px;
                font-size: 14px;
            }

            &.table-hover {
                tr:hover {
                    background: #eee;
                    cursor: pointer;
                }
            }

            &.nobd-f {
                tbody tr:first-child,
                thead tr:first-child {
                    td {
                        border-top: none;
                    }
                }
            }

            &.nobd {
                tbody tr,
                thead tr {
                    td {
                        border-top: none;
                    }
                }
            }

            &.t-bordered {

                width: 99%;

                tr {
                    th, td {
                        line-height: 32px;
                        height: 32px;
                        text-align: left;
                    }
                }

                tbody {
                    tr {
                        th, td {
                            border-top: 1px solid #eee;
                        }
                    }
                }
            }

            tbody {
                tr.header {
                    td {
                        height: 3rem;
                        background: #f5f6f7;
                        vertical-align: middle;
                        font-size: 1rem;
                    }
                }

                td {
                    font-size: 1rem;

                    &.left {
                        text-align: left;
                    }

                    &.right {
                        text-align: right;
                    }

                    &.top {
                        vertical-align: top;
                    }

                    &.middle {
                        vertical-align: middle;
                    }
                }
            }

            &.center {
                td {
                    vertical-align: middle;
                    text-align: center;
                }
            }
        }

        p-multiSelect {
            display: inline-block;
            vertical-align: middle;
            line-height: 1;

            .ui-multiselect {
                .ui-multiselect-label-container {
                    .ui-multiselect-label {
                        padding: .5rem 38px .5rem 15px;
                        line-height: 1.25rem;
                    }
                }

                .ui-multiselect-trigger {
                    padding: 0.25em 6px;
                    width: auto;
                    font-size: 1rem;

                    &.fa {
                        margin-top: .5em;
                    }
                }
            }

            label {
                padding: 0 0 0 .8rem;
                margin-bottom: 0;
                vertical-align: middle;
                font-size: 1rem;
            }
        }

        month-picker {
            display: inline-block;
        }

        [dropdown] {
            &.open {
                .dropdown-menu {
                    display: block;
                    padding-top: 0;
                    .title {
                        padding: 5px;
                        color: #ccc;
                        background: #f5f5f5;
                    }
                }

                a[disabled=true] {
                    background: #ccc;
                    cursor: not-allowed;
                }
            }
        }

        [dateranger] {
            display: inline-block;
            vertical-align: middle;
        }

        ngx-dropdown-treeview {
            display: inline-block;
            vertical-align: middle;

            .dropdown-toggle {
                position: relative;
                padding-right: 44px;

                &::before {
                    position: absolute;
                    right: 34px;
                    top: 0;
                    bottom: 0;
                    content: '';
                    width: 0;
                    border-left: 1px solid #ccc;
                }

                &::after {
                    margin-right: 4px;
                }
            }
        }

        ngx-treeview,
        ngx-treeview-item,
        .ngx-treeview {
            label,
            .form-inline label {
                justify-content: flex-start;
            }
        }

        .daterangepick-box {
            display: inline-block;

            [daterangepicker] {
                &.input-group {
                    width: 280px;
                }

            }
        }

        h5 {
            &.ng-invalid {
                color: #f00 !important;
                font-size: 16px !important;
            }
        }

        form {
            &.submitted {
                .ng-invalid {
                    border: 1px solid #FF0000;
                }
            }
        }

        .bht-main {
            padding: 8px 16px 16px;
            header {
                padding: 0 0 8px;
                font-size: 22.5px;
                color: rgba(42, 67, 109, 0.75);
            }

        }

        [hidden].active {
            display: block !important;
        }

        [reqhttp] {
            position: relative;
            width: 100%;
            height: 100%;

            .hide {
                display: none;
            }

            .loading {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1000;
                background: transparent;

                > .outer {
                    position: absolute;
                    width: 100%;
                    top: 45%;
                }

                .loader,
                .loader:before,
                .loader:after {
                    border-radius: 50%;
                }
                .loader:before,
                .loader:after {
                    position: absolute;
                    content: '';
                }
                .loader:before {
                    width: 1.1em;
                    height: 2.2em;
                    background: #fff;
                    border-radius: 2.2em 0 0 2.2em;
                    top: -0.1em;
                    left: -0.1em;
                    transform-origin: 1.2em 1.1em;
                    animation: loader 2s infinite ease 1.5s;
                }
                .loader {
                    font-size: 11px;
                    text-indent: -99999em;
                    margin: auto;
                    position: relative;
                    width: 2em;
                    height: 2em;
                    box-shadow: inset 0 0 0 .4em rgba(48, 127, 255, 0.9);
                }
                .loader:after {
                    width: 1.1em;
                    height: 2.2em;
                    background: #fff;
                    border-radius: 0 2.2em 2.2em 0;
                    top: -0.1em;
                    left: 1.1em;
                    transform-origin: 0 1.1rem;
                    animation: loader 2s infinite ease;
                }

            }

        }

        .nodata {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
            background: transparent;

            > .outer {
                position: absolute;
                width: 100%;
                top: 20%;
            }

            text-align: center;
            font-size: 1.3rem;
            line-height: 4rem;
            font-weight: 200;
            color: #bbb;
        }

        .form-inline {
            .item {
                + .item {
                    margin-left: 8px;
                }
            }
        }

        .coming-soon {
            color: #ff0000;
        }

        .rank-order {
            .icon-arrow-up-circle {
                color: #00a000;
            }

            .icon-arrow-down-circle {
                color: #ff0000;
            }
        }

    }

}

@media screen and (max-width: 1440px) {
    html {
        font-size: 13px;
    }

    body#response {
        h5 {
            &.ng-invalid {
                color: #f00 !important;
                font-size: 14px !important;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 10px;
    }

    body#response {
        h5 {
            font-size: 14px;

            &.ng-invalid {
                color: #f00 !important;
                font-size: 14px !important;
            }
        }
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}





