$mainTop: 46px;
$leftSidebar: 160px;
$borderColor: rgb(234, 234, 234);
$baseColor: rgb(9, 188, 189);
$basePaddingLeft: 20px;

body {
    padding: 0;
    margin: 0;
    background: #fff;
    font: 14px/1.5 Pingfang SC, Helvetica Neue, Microsoft Yahei, Helvetica, Arial, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
    color: #666;
    min-width: 1240px;
    // -40px -200px

    .mns-tags {
        display: block;
        width: auto;
    }
}






