<div class="logo">
    LIFT-BOSS
</div>
<ul class="inline nav">
    <li routerLinkActive="active">
        <a [routerLink]="['/agents']" *ngIf="!G?.current?.agencyId">代理</a>
    </li>

    <li routerLinkActive="active">
        <a [routerLink]="['/tenants']">租户</a>
    </li>

    <li routerLinkActive="active" *ngIf="!G?.current?.agencyId && false">
        <a [routerLink]="['/admins']">管理员</a>
    </li>
</ul>

<ul class="inline bar my">
    <li routerLinkActive="active">
        <a [routerLink]="['/admins', G.current.adminId]">
            {{G?.current?.name}}
        </a>
    </li>
    <li (click)="logout()">退出</li>
</ul>