<div class="main">
    <form class="form" autocomplete="off" novalidate
          #myForm="ngForm"
          [class.submitted]="myForm._submitted"
          (ngSubmit)="save(myForm, save)">

        <h5>Sign in Youce's Boos</h5>

        <div class="item">
            <input type="text" name="email" class="full"
                   placeholder="用户名"
                   [(ngModel)]="fm.email"
                   mVEmail
                   required />
        </div>

        <div class="item">
            <input type="password" name="password" class="full" placeholder="密码" [(ngModel)]="fm.password" required />
        </div>

        <div class="actions">
            <button class="btn full blue" type="submit">登录</button>
        </div>
    </form>
</div>
