/*
Error: Invalid US-ASCII character "\xEF"
        on line 68 of styles.scss

63: 
64: .colon {
65:     color: #999;
66: 
67:     &::after {
68:         content: '：';
69:     }
70: }
71: 
72: em {
73:     font-style: normal;

Backtrace:
styles.scss:68
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/util.rb:1299:in `rescue in block in find_encoding_error'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/util.rb:1296:in `block in find_encoding_error'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/util.rb:1295:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/util.rb:1295:in `each_with_index'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/util.rb:1295:in `find_encoding_error'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/util.rb:904:in `check_sass_encoding'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:433:in `check_encoding!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:389:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:363:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xEF\"\A         on line 68 of styles.scss\A \A 63: \A 64: .colon {\A 65:     color: #999;\A 66: \A 67:     &::after {\A 68:         content: '：';\A 69:     }\A 70: }\A 71: \A 72: em {\A 73:     font-style: normal;"; }
