/*
Error: Invalid US-ASCII character "\xE6"
        on line 76 of styles.scss

71: 
72: em {
73:     font-style: normal;
74: }
75: 
76: // 消息提醒
77: mnote {
78:     position: fixed;
79:     top: 46px;
80:     left: 0; right: 0;
81:     min-height: 46px;

Backtrace:
styles.scss:76
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/util.rb:1299:in `rescue in block in find_encoding_error'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/util.rb:1296:in `block in find_encoding_error'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/util.rb:1295:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/util.rb:1295:in `each_with_index'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/util.rb:1295:in `find_encoding_error'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/util.rb:904:in `check_sass_encoding'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:433:in `check_encoding!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:389:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:363:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xE6\"\A         on line 76 of styles.scss\A \A 71: \A 72: em {\A 73:     font-style: normal;\A 74: }\A 75: \A 76: // 消息提醒\A 77: mnote {\A 78:     position: fixed;\A 79:     top: 46px;\A 80:     left: 0; right: 0;\A 81:     min-height: 46px;"; }
