<div class="title-bar">
    <h5>代理管理</h5>
    <div class="actions">
        <div class="btn" [routerLink]="['./create']" >添加代理</div>
    </div>
</div>

<div class="main">

    <table class="table hover">

        <thead>
            <tr>
                <th>代理名称</th>
                <th>公司名称</th>
                <th>租户数</th>
                <th>余额</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let agent of agents">
                <td>
                    <a [routerLink]="['/agents', agent.agencyId]">{{agent.name || '-'}}</a>
                </td>
                <td>{{agent.companyName}}</td>
                <td>{{agent.tenantNum}}</td>
                <td>{{agent.totalBalance}}</td>
                <td> {{agent.status ? '正常' : '禁用' }}</td>
                <td>
                    <button class="btn {{agent.status ? 'white' : 'blue_outer' }}" (click)="activeness(agent)">
                        {{agent.status ? '禁用' : '恢复' }}
                    </button>
                </td>
            </tr>
        </tbody>

    </table>
</div>

<!--<dlg #dialog></dlg>-->

